body {
    margin: 0 auto; /* this just resets things so everything is at edge of browser */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #3F3643;
    color: #F2E6C6; /*matches the wanderlust brand color */
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
}

/* ------ Header Section ------ */

.heroimg {
    max-width: 100%;
    width: 100%;
}


.intro {
    position: absolute;
    text-align: center;
    font-size: 2.2vw; /* responsive text - means 2.2% of viewport width*/
    margin-top: 31%; /* this controls the position of the text - responsive! */
    left: 50%;  
    transform: translate(-50%, -50%);
}

.downarrows {
    max-width: 3%;
    width: 100%; /* makes them scale with the browser size */
    position: absolute;
    margin-top: 40%; /* this controls the position of the arrows - responsive! */
    left: 50%;  
    transform: translate(-50%, -50%);
    
}

/* FOR SVG Arrows --- decided not to use --- 
.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-top: 37%;
}

.arrows path {
	stroke: #F2E6C6;
	fill: transparent;
	stroke-width: 1.5px;	
}

*/



/* ------ Mid Section - Icons & Flexbox grid layout ------ */

#landmarkinfo {
    margin: 0 auto;
}

greeting {
    text-align: right;
}

.iconsgrid {
    display: flex;
    flex-wrap: wrap;
    margin: 6% 2%; /* scalable margins - means there won't be a big gap on a mobile device */
}

.iconsa {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 2px; /*keep this in - spacing */
    text-decoration: none;
    color: #F2E6C6;
    text-align: center;
}


@media screen and (min-width: 50em) {
  .iconsa {
    width: calc(25% - 6px);
  } 
  
  .iconsa:nth-of-type(2n) {
    margin-right: 4px;
  }
  
  .iconsa:nth-of-type(4n) {
    margin-right: 0;
  }
}

figure {
    margin: 0;
    overflow: hidden;
}

figcaption {
    margin-top: 15px;
}

.icon { /*images */
    border: none;
    max-width: 100%;
    margin: 10px auto;
    height: auto;
    display: block;
}

/* ------ Animation & Download Section ------ */

.download {
    background-color: #fff;
    height: 400px;
}

.iconanimation {
    max-width: 500px;
    padding: 5px;
    float: left;
    margin-top: 40px;
}

.downloadmessage {
    float: right;
    width: 40%;
    text-align: center;
    color: #3F3643;
    margin-top: 90px;
}

h2 {
    font-size: 25px;
    font-weight: 400;
}

button {
    width: 150px;
    padding: 0px 15px;
    margin: 20px 20px;
    border: 2.5px solid #3F3643;
    background-color: rgba(63, 54, 67, 0.2);
    transition: all 0.3s ease 0s;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}

button:hover {
    background-color: rgba(63, 54, 76, 1);
    color: #F2E6C6;
}


/*  Download Buttons  */


.downloadbuttons {
    margin-bottom: 20px;
}



/* ------ Ways to use Section ------ */

#waystouse {
    padding-top: 15px;
}

#imgleft {
    display: inline-block;
    float: left;
    margin-right: 25px; /* Space between the icon and text */
    max-width: 40%;
    min-width: 350px;
}


#imgright {
    display: inline-block;
    float: right;
    margin-left: 25px; /* Space between the icon and text */
    max-width: 35%;
    min-width: 300px;
}

.usingh2 {
    margin-top: 70px;
}



.lefttext {
    float: left;
    text-align: left;
}

.righttext {
    float: right;
    text-align: right;
}




.usingicons {
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 15px;
}



/* ------ DAY TO NIGHT BUTTON  - From http://codepen.io/jsndks/pen/qEXzOQ ------ */
/*
F5EB42 - sun inner
E4C74D - sun outer
FFFFFF - cloud inner
D4D4D2 - cloud outer
81C0D5 - parent outer
C0E6F6 - parent inner
FFFDF2 - moon inner
DEE1C5 - moon outer
FCFCFC - stars
*/


.daytonight {
    padding-top: 20px;
    text-align: right;
    margin-bottom: -40px;
        
}

.toggle {
      position: relative;
      display: inline-block;
      width: 90px;
      padding: 2px;
      border-radius: 40px;
}

.toggle:before,
.toggle:after {
      content: '';
      display: table;
}

.toggle:after {
    clear: both;
}

.toggle-bg {
      position: absolute;
      top: -4px;
      left: -4px;
      width: 90%;
      height: 90%;
      background-color: #C0E6F6;
      border-radius: 40px;
      border: 4px solid #81C0D5;
      -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 90%;
      border: 1px solid red;
      border-radius: 40px;
      z-index: 2;
      opacity: 0;
}

.toggle-switch {
      position: relative;
      width: 30px;
      height: 30px;
      margin-left: 40px;
      background-color: #F5EB42;
      border: 4px solid #E4C74D;
      border-radius: 50%;
      -webkit-transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.toggle-switch-figure { /* cloud */
      position: absolute;
      bottom: -12px;
      left: -55px;
      display: block;
      width: 80px;
      height: 30px;
      border: 8px solid #D4D4D2;
      border-radius: 20px;
      background-color: #fff;
      -webkit-transform: scale(0.4);
              transform: scale(0.4);
      -webkit-transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-switch-figure:after {
      content: '';
      display: block;
      position: relative;
      top: -65px;
      right: -42px;
      width: 15px;
      height: 15px;
      border: 8px solid #D4D4D2;
      border-radius: 100%;
      border-right-color: transparent;
      border-bottom-color: transparent;
      -webkit-transform: rotateZ(70deg);
              transform: rotateZ(70deg);
      background-color: #fff;
}
.toggle-switch-figure:before {
      content: '';
      display: block;
      position: relative;
      top: -25px;
      right: -10px;
      width: 30px;
      height: 30px;
      border: 8px solid #D4D4D2;
      border-radius: 100%;
      border-right-color: transparent;
      border-bottom-color: transparent;
      -webkit-transform: rotateZ(30deg);
              transform: rotateZ(30deg);
      background-color: #fff;
}

.toggle-switch-figureAlt { /* stars */
      content: '';
      position: absolute;
      top: 2px;
      left: 1px;
      width: 1px;
      height: 1px;
      background-color: #EFEEDA;
      border-radius: 100%;
      border: 4px solid #DEE1C5;
      box-shadow: 35px -7px 0 -3px #FCFCFC, 54px -10px 0 -3px #FCFCFC, 54px 4px 0 -4px #FCFCFC, 63px 7px 0 -2px #FCFCFC, 43px 18px 0 -4px #FCFCFC, 34px 10px 0 -2px #FCFCFC, 58px 20px 0 -3px #FCFCFC;
      -webkit-transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      transition: all 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      -webkit-transform: scale(0);
              transform: scale(0);
}

.toggle-switch-figureAlt:before {
      content: '';
      position: absolute;
      top: -2px;
      left: 10px;
      width: 2px;
      height: 2px;
      background-color: #EFEEDA;
      border-radius: 100%;
      border: 4px solid #DEE1C5;
}

.toggle-switch-figureAlt:after {
      content: '';
      position: absolute;
      top: 13px;
      left: 9px;
      width: 2px;
      height: 2px;  
      background-color: #EFEEDA;
      border-radius: 100%;
      border: 4px solid #DEE1C5;
}

.toggle-input:checked ~ .toggle-switch {
      margin-left: 0;
      border-color: #DEE1C5;
      background-color: #FFFDF2;
}

.toggle-input:checked ~ .toggle-bg {
      background-color: #484848;
      border-color: #202020;
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figure {
      margin-left: 40px;
      opacity: 0;
      -webkit-transform: scale(0.1);
              transform: scale(0.1);
}

.toggle-input:checked ~ .toggle-switch .toggle-switch-figureAlt {
      -webkit-transform: scale(1);
              transform: scale(1);
}



/* ------ Footer ------ */


.hrstyled {
    margin-top: 50%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.madeby {
    display: inline;
    padding-right: 50%;
    color: #F2E6C6;
    text-align: left;
    font-size: 14px;
}

.madeby a {
    text-decoration: none;
    color: #F2E6C6;
    font-weight: 400;
}

.madeby a:hover {
    border-bottom: 1px solid #F2E6C6;
}

.share {
    display: inline;
    color: #F2E6C6;
    text-align: right;
    font-size: 14px;
}

.twitter {
    width: 30px;
    margin-bottom: -10px;
}





/* ------ Media Queries ------ */
@media screen and (max-width: 1000px) {
    .download {
        height: 500px;
        padding-bottom: 20px;
    }
    
    .iconanimation {
        margin: 0 auto;
        float: none;
        width: 90%;
        padding-left: 20px;
    }
    
    .downloadmessage {
        text-align: center;
        color: #3F3643;
        font-size: 16px;
        float: none;
        margin: 0 auto;
        width: 80%;
    }
    
    button {
        width: 150px;
        margin: 5px 5px; 
    }
    
    
    .daytonight {
    margin-bottom: -20px;
    }
    
    #imgleft {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 80%;
        min-width: 350px;
        padding-bottom: 20px;
    }


    #imgright {
        display: block;
        float: none;
        margin: 0 auto;
        max-width: 75%;
        min-width: 300px;
    }

    .usingh2 {
        margin: 0 auto;
        text-align: center;
        max-width: 80%;
    }

    .description { 
        margin: 0 auto;
        text-align: center;
        max-width: 80%;
        padding-bottom: 50px;
    }

    .hrstyled {
        display: none;
    }
    
    .madeby {
        display: block;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 5px;
        font-size: 12px;
        padding: 0;
        
    }
    
    .share {
        display: block;
        text-align: center;
        font-size: 12px;
    }

    .twitter {
        width: 30px;
        
    }

    
}

